
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Slider-->
<div class="sliders">
    <div class="slider_imgs">
        <input type="radio" name="inputslider" id="img1">
        <input type="radio" name="inputslider" id="img2">
        <input type="radio" name="inputslider" id="img3">

        <img src="~/wwwroot/Images/1.jpg" alt="img1" class="imgslider1">
        <img src="~/wwwroot/Images/5.jpg" alt="img2" class="imgslider2">
        <img src="~/wwwroot/Images/3.jpg" alt="img3" class="imgslider3">
    </div>
    <div class="labelslider">
        <label for="img1"></label>
        <label for="img2"></label>
        <label for="img3"></label>
    </div>
</div>
<div class="clear"></div>


