
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}
@section header{
    Welcome Back, @Session["HoTen"] <i class="ti-face-smile"></i>
}
<h1 style="text-align: center; font-style: italic;">Let's start your work </h1>
<h1 style="text-align: center; font-style: italic;">And</h1>
<h1 style="text-align: center; font-style: italic;">Manage your business</h1>

